[submodule "boost-cmake"]
	path = boost-cmake
	url = https://github.com/jpd002/boost-cmake.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "ghc_filesystem"]
	path = ghc_filesystem
	url = https://github.com/gulrak/filesystem.git
