appcompat/bin
appcompat/gen
appcompat/build.xml
appcompat/local.properties
appcompat/proguard-project.txt
BoostMac/osx
BoostMac/ios
BoostMac/src
BoostMac/*.tar.bz2
build_android/libs
build_android/obj
Debug
Release
bzip2-1.0.6/build*
zlib-1.2.8/build*
glew-2.0.0/build*
*.ipch
*.user
*.userprops
*.sdf
*.suo
